<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<table th:fragment="table-master">
    <thead>
    <tr>
        <th:block th:each="map:${listKolom}">
            <th>
<!--                <a class="text-light" th:href="@{'/'+${pathServer}+'/'+${idComp}+'/'+${descComp}+'/'+(${#strings.equals(sort,'asc')} ? 'desc' : 'asc')+'/'+${map.key}+'/'+${currentPage}+'?column='+${columnName}+'&value='+${value}+'&size='+${sizePerPage}}">-->
<!--                    [[${map.value}]]-->
<!--                </a>-->
                <button style="background-color: #003366;color: white;padding: 5px;font-size: 18px;text-align: center" type="button" th:onclick="callDataMasterSorting([[(${#strings.equals(sort,'asc')} ? 'desc' : 'asc')]],[[${map.key}]])">[[${map.value}]]</button>

            </th>
        </th:block>
        <th>Action</th>
    </tr>

    </thead>
    <tbody>
    <th:block th:each="entry:${listContent}">
        <tr>
            <th:block th:each="f:${listHelper}" >
                <td th:text="${entry.get(f)}"></td>
            </th:block>
            <td style="text-align: center">
                <button type="button"
                        th:onclick="funcModalsDataMasterHandler('#'+[[${idComp}]],'#'+[[${descComp}]],[[${entry.get('id')}]],[[${entry.get('nama')}]])"
                        class="btn btn-primary">
                    Pilih
                </button>
            </td>
    </th:block>
    </tr>
    </th:block>

    </tbody>
</table>


</html>